<?xml version="1.0" encoding='UTF-8'?>
<plugin>
	<nom>TinyMCE Plus</nom>
 	<version>1.0.0</version>
 	<prefix>tinymceplus</prefix>
	<type>classique</type>
 	<auteur>Yoan de Macedo - yoan@octolys.fr / Franck Allimant, CQFDev - www.cqfdev.fr</auteur>
 	<thelia>1.5.0</thelia>
 	<description>Ce plugin ajoute l'éditeur visuel TinyMCE dans différentes pages de l'interface d'administration</description>
	<lien></lien>
	<documentation>LISEZMOI.txt</documentation>
 	<etat>production</etat>
	<install></install>
</plugin>
