<?xml version="1.0" encoding='UTF-8'?>
<plugin>
	<nom>Web Meeting</nom>
 	<version>1.0</version>
 	<prefixe>webmtg</prefixe>
	<type>classique</type>
 	<auteur>Frank Ghenassia - frank@ghenassia.org</auteur>
 	<thelia>1.5.1</thelia>
 	<description>Gestion de réunions par Internet</description>
	<rubrique>Divers</rubrique>
	<lien></lien>
	<documentation></documentation>
 	<etat>test</etat>
	<install>http://contrib.thelia.fr/IMG/zip/webmtg.zip</install>
</plugin>
