<?xml version="1.0" encoding='UTF-8'?>
<plugin>
	<nom>Snippet</nom>
 	<version>1.0</version>
 	<prefixe>snippet</prefixe>
	<type>classique</type>
 	<auteur>Frank Ghenassia - frank@ghenassia.org</auteur>
 	<thelia>1.5.2</thelia>
 	<description>Manage snippets to be integrated into web sites.  &lt;a href="http://www.mainslibres.fr/blog/2012/11/19/snippet-un-plugin-thelia/"&gt;Plus d'informations&lt;/a&gt;</description>
	<rubrique>Divers</rubrique>
	<lien></lien>
	<documentation>README.txt</documentation>
 	<etat>test</etat>
	<install>http://contrib.thelia.fr/IMG/zip/snippet.zip</install>
</plugin>
