<?xml version="1.0" encoding='UTF-8'?>
<plugin>
	<nom>Dbbrowser</nom>
 	<version>1.2</version>
 	<prefixe>dbbrowser</prefixe>
	<type>classique</type>
 	<auteur>Frank Ghenassia - frank@ghenassia.org</auteur>
 	<thelia>1.5.3.4</thelia>
 	<description>Back-office auto-généré de la base de données. &lt;a href="http://frankghe.wordpress.com/2012/12/24/dbbrowser-un-plugin-thelia/"&gt;Plus d'informations&lt;/a&gt;</description>
	<rubrique>Divers</rubrique>
	<lien></lien>
	<documentation>README.txt</documentation>
 	<etat>test</etat>
	<install>http://contrib.thelia.fr/IMG/zip/dbbrowser.zip</install>
</plugin>
